{# templates/CRUD/list__action_clone.html.twig #}
<a class="btn btn-sm btn-default" href="{{ path('admin_app_inventariocerrado_admin_app_objetoinventariocerrado_list', {id: object.id}) }}"> <i class="fa fa-list" aria-hidden="true"></i> Detalle</a>